* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Sofia Pro", sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Nav Styling */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: lightblue;
  z-index: 1;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.navlist {
  display: flex;
}

.navlist a {
  display: inline-block;
  margin: 0;
  padding: .8rem;
  transition: .2s;
}

.navlist li a:hover {
  background-color: #FFFFFF;
}

/* END Nav Styling */

/* Welcome Section Styling */

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
}

.welcome h1 {
  font-size: 4rem;
}

.welcome p {
  font-size: 1.4rem;
}